extends layout

block content
    main.content
        .container.p-0
            h1.h3.mb-3 
            .card
                .row.g-0
                    .col-12.col-lg-5.col-xl-3.border-right.border-end
                        .py-2.px-4.border-bottom.d-none.d-md-block
                            .d-flex.align-items-center
                                .flex-grow-1
                                    h5.mt-2 Participantes 
                        each user in users
                            if (user.nameRole=="ROLE_ADMIN"||user.nameRole=="ROLE_DOCTOR")
                                .d-flex.align-items-start.mt-2
                                    img.rounded-circle.mr-1(src='/img/doctor.png' alt=user.username width='40' height='40')
                                    .flex-grow-1.ml-3
                                        | #{user.name} 
                            if (user.nameRole=="ROLE_USER")
                                .d-flex.align-items-start.mt-2
                                    img.rounded-circle.mr-1(src='/img/user.png' alt=user.username width='40' height='40')
                                    .flex-grow-1.ml-3
                                        | #{user.name} 
                                        .text-muted.small.text-nowrap.mt-1 con su mascota #{user.familiarName} (#{user.familiarType})
                        hr.d-block.d-lg-none.mt-1.mb-0
                    .col-12.col-lg-7.col-xl-9
                        .py-2.px-4.border-bottom.d-none.d-lg-block
                            .d-flex.align-items-center.py-1
                                h5 #{chatInfo.nameChat}
                                    if (chatInfo.isFinished==1)
                                        | Consulta finalizada
                                    if (chatInfo.isNeedDoctor==1)
                                        | Consulta pendiente de doctor
                        .position-relative
                            #messages.chat-messages.p-4
                                each message in messages
                                    if (message.username!=username)
                                        .chat-message-left.pb-4
                                            div
                                                img.rounded-circle.mr-1(src=message.img alt=message.name width='40' height='40')                                                
                                            .flex-shrink-1.bg-light.rounded.py-2.px-3.ml-3
                                                strong.font-weight-bold.mb-1 #{message.name}:
                                                |   #{message.textMessage}
                                                if (message.file)
                                                    .text-muted.small.text-nowrap.mt-2
                                                        a(href='/upload/'+message.file  target="_blank")
                                                            img.mt-5(width='150px' src='/upload/'+message.file)                                                 
                                                .text-muted.small.text-nowrap.mt-2 #{message.dateMessage}
                                    if (message.username== username)
                                        .chat-message-right.pb-4
                                            div
                                                img.rounded-circle.mr-1(src=message.img alt=message.name width='40' height='40')
                                            .flex-shrink-1.bg-light.rounded.py-2.px-3.mr-3
                                                strong.font-weight-bold.mb-1 You:
                                                |   #{message.textMessage}
                                                if (message.file)
                                                    .text-muted.small.text-nowrap.mt-2
                                                        a(href='/upload/'+message.file  target="_blank")
                                                            img.mt-5(width='150px' src='/upload/'+message.file)                                                
                                                .text-muted.small.text-nowrap.mt-2 #{message.dateMessage}
                        form#form.form-inline(action='')
                            .flex-grow-0.py-3.px-4.border-top
                                #inputgroup.input-group
                                    .col-6
                                        input#input.form-control(autocomplete='off' type='text' placeholder='Mensaje' maxlength="4096" required)
                                    .col-3                        
                                        button.btn.btn-primary Enviar
                                    .col-3.mb-3
                                        input#inputfile.form-control(type='file') 
    script(src='https://cdn.socket.io/4.7.2/socket.io.min.js')
    script.
        // Get the file input element
        const fileInput = document.getElementById('inputfile');
        // Add event listener to trigger file input when paperclip icon is clicked
        var messagesContainer = document.getElementById("messages");
        messagesContainer.scrollTop = messagesContainer.scrollHeight;

        const socket = io().connect();
        const form = document.getElementById('form');
        const input = document.getElementById('input');

        const messages = document.getElementById('messages');
        let roomId = '#{roomId}';
        //- console.log(!{username});
        let username = '#{username}';
        let name = '#{name}';
        let userId = '#{userId}';
        let role = '#{role}';
        let file = null;
        let filename =null;        
        dataConnection = {username: username, userId: userId, role: role, sessionID: socket.id, roomId: roomId};
        console.log(`Connecting socket`);
        if (socket && roomId && userId) {
            socket.emit('join', dataConnection);
        }
        form.addEventListener('submit', (e) => {
            e.preventDefault();            
            file = null;
            filename =null;             
            if (fileInput.files[0])
            {
            file = fileInput.files[0];
            filename =fileInput.files[0].name
            console.log('Selected file:',fileInput.files[0],file,filename)
            }
            if (input.value) {
                let data= {
                    message:input.value,
                    roomId:roomId,
                    username:username,
                    name:name,
                    userId:userId,
                    nameRole:role,
                    file:file,
                    filename:filename
                }
                console.log('data to send:',data)
                socket.emit('chat message', data);
                input.value = '';
                inputfile.value = '';
            }
        });
        // Function to append a new message to the chat interface
        function appendMessage(data) {
            const item = document.createElement('div');
            if ((data.username!= username)) {
                item.classList.add('chat-message-left', 'pb-4');
            } else if ((data.username== username)) {
                item.classList.add('chat-message-right', 'pb-4');
                data.name="You"
            }


            const imageElement = document.createElement('img');
            imageElement.classList.add('rounded-circle', 'mr-1');
            imageElement.src = data.img;
            imageElement.alt = data.name;
            imageElement.width = 40;
            imageElement.height = 40;

            const a = document.createElement('a');
            const img = document.createElement('img');

            // Set attributes
            a.href = '/upload/' + data.file;
            a.target = '_blank';
            a.innerHTML=data.file;

            // Append img to a
            a.appendChild(img);

            const dateElement = document.createElement('div');
            dateElement.classList.add('text-muted', 'small', 'text-nowrap', 'mt-2');
            dateElement.textContent = data.dateMessage;


            const contentElement = document.createElement('div');
            contentElement.classList.add('flex-shrink-1', 'bg-light', 'rounded', 'py-2', 'px-3', 'ml-3');

            const usernameElement = document.createElement('strong');
            usernameElement.classList.add('font-weight-bold', 'mb-1');
            usernameElement.textContent = data.name;

            const messageTextNode = document.createTextNode(data.message);

            contentElement.appendChild(usernameElement);
            contentElement.appendChild(document.createTextNode(': '));
            contentElement.appendChild(messageTextNode);

            item.appendChild(imageElement);
            contentElement.appendChild(dateElement);
            contentElement.appendChild(a);
            item.appendChild(contentElement);

            messages.appendChild(item);
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        }
        socket.on('chat message', (data) => {
        console.log('message:',data)
        // Call the appendMessage function with the received message data
        appendMessage(data);
        });
