extends layout
block content
    ul#messages 
        each message in messages
            li= message.username+': ' + message.textMessage
    form#form(action='')
        input#input(autocomplete='off')
        button Send
            script(src='https://cdn.socket.io/4.7.2/socket.io.min.js')
            script.
                const socket = io().connect();
                const form = document.getElementById('form');
                const input = document.getElementById('input');
                const messages = document.getElementById('messages');
                let roomId = '#{roomId}';
                //- console.log(!{username});
                let username = '#{username}';
                let userId = '#{userId}';
                let role = '#{role}';
                dataConnection = {username: username, userId: userId, role: role, sessionID: socket.id, roomId: roomId};
                console.log(`Connecting socket...`);
                if (socket && roomId && userId) {
                    socket.emit('join', dataConnection);
                }
                form.addEventListener('submit', (e) => {
                    e.preventDefault();
                    if (input.value) {
                        let data= {
                            message:input.value,
                            roomId:roomId,
                            username:username,
                            userId:userId
                        }
                        socket.emit('chat message', data);
                        input.value = '';
                    }
                });
                socket.on('chat message', (data) => {
                    const item = document.createElement('li');
                    item.textContent = data.username+': '+data.message;
                    messages.appendChild(item);
                    window.scrollTo(0, document.body.scrollHeight);
                });