extends layout
block content
    .rounded.bg-white.mt-5.mb-5
        .row
            .col-md-2.border-right
                .d-flex.flex-column.align-items-center.text-center.p-3.py-5
                    //- img.rounded-circle.mt-5(width='150px' src='https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg')
                    span.text-black-50 Hola, #{userInfo.name}!
                    span.text-black-90 Tu mascota es #{userInfo.familiarName}
            .col-md-3.border-right.border-start.border-end
                .p-3.py-5
                    .d-flex.justify-content-between.align-items-center
                        h4.text-right Información personal
                .row
                    .col-md-6
                .row.mt-3
                    .col-md-12
                        label.labels Email
                        input.form-control(type='text' value=username placeholder='' disabled)
                    .col-md-12
                .row.mt-3.border-bottom.pb-3
                    .col-md-12
                        .p-3.py-5
                            h5.text-right Cambiar contraseña
                    .col-md-12.mt-2
                        form(action='/users', method='POST')
                            .form-group
                                label.labels(label-for='oldPassword') Contraseña actual
                                input#oldPassword.form-control(type='password', name='oldPassword', required)
                            .form-group.mt-3
                                label.labels(label-for='newPassword') Nueva contraseña
                                input#newPassword.form-control(type='password', name='newPassword', required)
                            .form-group.mt-3
                                label.labels(label-for='confirmPassword') Confirmar nueva contraseña
                                input#confirmPassword.form-control(type='password', name='confirmPassword', required)
                            .mt-3.text-center
                                button.btn.btn-success.profile-button(type='submit') Cambiar contraseña       
            .col-md-7
                main#main
                    h1.h2 Mis consultas
                    if (chats.length==0&&role=="ROLE_USER")
                        button#createButton.btn.btn-primary(type='button' onclick='createRoom()') Nueva consulta
                    if (chats.length>0)                
                        .row
                            each chat in chats
                                .col-lg-3.mt-3
                                    .card.text-bg-light.mb-3(style='max-width: 18rem;')
                                        .card-header #{chat.nameChat}
                                        .card-body
                                            h5.card-title #{chat.nameChat}
                                            p.card-text #{chat.nameChat}
                                            form(action="/users/finalize/"+chat.idChat method="POST")
                                                a.btn.btn-primary(href="/chat/"+chat.idChat) Unir                                                
                                                button(type="submit").btn.btn-danger.ms-1 Finalizar    
                    if (chatsWithoutDoctor.length>0&&role=="ROLE_ADMIN")
                        h2 Consultas sin doctor
                        .row
                            each chatWithoutDoctor in chatsWithoutDoctor
                                .col-lg-3.mt-3
                                    .card.text-bg-light.mb-3(style='max-width: 18rem;')
                                        .card-header #{chatWithoutDoctor.nameChat}
                                        .card-body
                                            h5.card-title #{chatWithoutDoctor.nameChat}
                                            p.card-text #{chatWithoutDoctor.nameChat}
                                            form(action="/users/finalize/"+chatWithoutDoctor.idChat method="POST")
                                                a.btn.btn-primary(href="/chat/"+chatWithoutDoctor.idChat) Unir
                                                button(type="submit").btn.btn-danger.ms-1 Finalizar
    //- .container-fluid
    //- .row
    //-     main#main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
    //-         .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    //-             h1.h2 Mis consultas
    //-             .btn-toolbar.mb-2.mb-md-0
    //-                 .btn-group.me-2
    //-                     button.btn.btn-sm.btn-outline-secondary(type='button') Share
    //-                     button.btn.btn-sm.btn-outline-secondary(type='button') Export
    //-                 button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
    //-                     span(data-feather='calendar')
    //-                      |             This week
    //-         if (chats.length==0&&role=="ROLE_USER")
    //-             button#createButton.btn.btn-primary(type='button' onclick='createRoom()') Nueva consulta
    //-         if (chats.length>0)                
    //-             .row
    //-                 each chat in chats
    //-                     .col-lg-3.mt-3
    //-                         .card.text-bg-light.mb-3(style='max-width: 18rem;')
    //-                             .card-header #{chat.nameChat}
    //-                             .card-body
    //-                                 h5.card-title Light card title
    //-                                 p.card-text
    //-                                 | Some quick example text to build on the card title and make up the bulk of the card's content.
    //-                                 a.btn.btn-primary(href="/chat/"+chat.idChat) Unir consulta
    //-         if (chatsWithoutDoctor.length>0&&role=="ROLE_ADMIN")
    //-             h2 Consultas sin doctor
    //-             .row
    //-                 each chatWithoutDoctor in chatsWithoutDoctor
    //-                     .col-lg-3.mt-3
    //-                         .card.text-bg-light.mb-3(style='max-width: 18rem;')
    //-                             .card-header #{chatWithoutDoctor.nameChat}
    //-                             .card-body
    //-                                 h5.card-title Light card title
    //-                                 p.card-text
    //-                                 | Some quick example text to build on the card title and make up the bulk of the card's content.
    //-                                 a.btn.btn-primary(href="/chat/"+chatWithoutDoctor.idChat) Unir consulta

    //- div.text-center
    //-     p Hola #{username}!
    //-         if (chats.length==0&&role=="ROLE_USER")
    //-             button(type='button', onclick='createRoom()')#createButton Crear nueva consulta
    //-         br
    //-         ul#chats Mis consultas 
    //-             each chat in chats
    //-                 li
    //-                     a(href="/chat/"+chat.idChat)
    //-                         button(type="button") Unir consulta #{chat.nameChat}
    //-         if chatsWithoutDoctor.length>0
    //-             ul#chats Consultas pendientes sin doctor
    //-                 each chatWithoutDoctor in chatsWithoutDoctor
    //-                     li
    //-                         a(href="/chat/"+chatWithoutDoctor.idChat)
    //-                             button(type="button") Unir consulta #{chatWithoutDoctor.nameChat}
    script(src='https://cdn.socket.io/4.7.2/socket.io.min.js')
    script.
        console.log(#{roomId});
        function createRoom()
        {
        const socket = io().connect();
        let roomId = '#{roomId}';
        let username = '#{username}';
        let userId = '#{userId}';  
        dataConnection = {username: username, userId: userId,socketId:socket.id};
        if (socket && userId) 
        socket.emit('create', dataConnection, (response) => {
        document.getElementById("createButton").remove();
        console.log(response.roomName);
        const main = document.getElementById("main");
        // Create div element with class 'card text-dark bg-light mb-3'
        const cardDiv = document.createElement('div');
        cardDiv.className = 'card text-dark bg-light mb-3';
        cardDiv.style.maxWidth = '18rem';
        // Create div element with class 'card-header' and set its text content
        const cardHeader = document.createElement('div');
        cardHeader.className = 'card-header';
        cardHeader.textContent = response.roomName;
        // Create div element with class 'card-body'
        const cardBodyDiv = document.createElement('div');
        cardBodyDiv.className = 'card-body';
        // Create h5 element with class 'card-title' and set its text content
        const cardTitle = document.createElement('h5');
        cardTitle.className = 'card-title';
        cardTitle.textContent = 'Light card title';
        // Create p element with class 'card-text' and set its text content
        const cardText = document.createElement('p');
        cardText.className = 'card-text';
        cardText.textContent = response.roomName;
        // Create a element with class 'btn btn-primary' and set its attributes
        const link = document.createElement('a');
        link.href = "/chat/"+response.roomId;
        link.className = 'btn btn-primary';
        link.textContent = 'Unir consulta';
        // Append all the created elements to the appropriate parent elements
        cardDiv.appendChild(cardHeader);
        cardDiv.appendChild(cardBodyDiv);
        cardBodyDiv.appendChild(cardTitle);
        cardBodyDiv.appendChild(cardText);
        cardBodyDiv.appendChild(link);
        // Append the cardDiv to the document body or any other desired parent element
        main.appendChild(cardDiv);
        }); 
        }

